page-month {
    table,
    th,
    td {
        border: 1px solid black;
        text-align: center;
    }
    .btn_action {
        width: 18%;
        margin: 2%;
        float: left;
        clear: none;
        background-color: transparent;
    }
}